Mercury/
Mercury.modules
*.mh
*.err
*.init
*.dll
*.exe
*.a
*.so
*.dylib
*.beams
*.d
*.c_date
/MicroservicesCovid/obj/project.nuget.cache
/MicroservicesCovid/obj/project.assets.json
/MicroservicesCovid/obj/MicroservicesCovid.csproj.nuget.g.targets
/MicroservicesCovid/obj/MicroservicesCovid.csproj.nuget.g.props
/MicroservicesCovid/obj/MicroservicesCovid.csproj.nuget.dgspec.json
/MicroservicesCovid/obj/Debug/netcoreapp3.1/MicroservicesCovid.RazorTargetAssemblyInfo.cache
/MicroservicesCovid/obj/Debug/netcoreapp3.1/MicroservicesCovid.pdb
/MicroservicesCovid/obj/Debug/netcoreapp3.1/MicroservicesCovid.MvcApplicationPartsAssemblyInfo.cache
/MicroservicesCovid/obj/Debug/netcoreapp3.1/MicroservicesCovid.genruntimeconfig.cache
/MicroservicesCovid/obj/Debug/netcoreapp3.1/MicroservicesCovid.csprojAssemblyReference.cache
/MicroservicesCovid/obj/Debug/netcoreapp3.1/MicroservicesCovid.csproj.FileListAbsolute.txt
/MicroservicesCovid/obj/Debug/netcoreapp3.1/MicroservicesCovid.csproj.CoreCompileInputs.cache
/MicroservicesCovid/obj/Debug/netcoreapp3.1/MicroservicesCovid.csproj.CopyComplete
/MicroservicesCovid/obj/Debug/netcoreapp3.1/MicroservicesCovid.assets.cache
/MicroservicesCovid/obj/Debug/netcoreapp3.1/MicroservicesCovid.AssemblyInfoInputs.cache
/.vs/MicroservicesCovid/v16/.suo
/.vs/MicroservicesCovid/config/applicationhost.config
